In [ ]:
# Install the required packages
%pip install geopandas pandas folium requests tqdm matplotlib xlrd

Requirement already satisfied: geopandas in ./.venv/lib/python3.9/site-packages (1.0.1)
Requirement already satisfied: pandas in ./.venv/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: folium in ./.venv/lib/python3.9/site-packages (0.17.0)
Requirement already satisfied: requests in ./.venv/lib/python3.9/site-packages (2.32.3)
Requirement already satisfied: tqdm in ./.venv/lib/python3.9/site-packages (4.66.5)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.9/site-packages (3.9.2)
Requirement already satisfied: xlrd in ./.venv/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.22 in ./.venv/lib/python3.9/site-packages (from geopandas) (2.0.2)
Requirement already satisfied: pyogrio>=0.7.2 in ./.venv/lib/python3.9/site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in ./.venv/lib/python3.9/site-packages (from geopandas) (24.1)
Requirement already satisfied: pyproj>=3.3.0 in ./.venv/lib/python3.9/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=2.0.0 in ./.venv/lib/python3.9/site-packages (from geopandas) (2.0.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: branca>=0.6.0 in ./.venv/lib/python3.9/site-packages (from folium) (0.8.0)
Requirement already satisfied: jinja2>=2.9 in ./.venv/lib/python3.9/site-packages (from folium) (3.1.4)
Requirement already satisfied: xyzservices in ./.venv/lib/python3.9/site-packages (from folium) (2024.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.9/site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.9/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.9/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.9/site-packages (from requests) (2024.8.30)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.9/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: importlib-resources>=3.2.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in ./.venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.9/site-packages (from jinja2>=2.9->folium) (3.0.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Importing libraries
import geopandas
import re
import pandas as pd
import folium
import requests
import time
from tqdm import tqdm
import matplotlib.pyplot as plt
import os
import xlrd
pd.options.mode.chained_assignment = None

### The code below will gather bus/MRT geospatial data needed for our project by making API Calls to LTA DataMall

In [ ]:
# Set an environmental variable named LTA_Key to store your API key for the LTA DataMall
# Query the LTA DataMall API for the bus routes data
all_data = []

skip = 0

resource_url = "https://datamall2.mytransport.sg/ltaodataservice/BusRoutes"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url}?$skip={skip}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data.extend(data)
    skip += 500

# Convert the collected data to a DataFrame
df = pd.json_normalize(all_data)

# Save the DataFrame to a CSV file
df.to_csv('data/bus_routes.csv', index=False)

In [ ]:
# Query the LTA DataMall API for the bus stops data (Can be merged with bus_routes data)
all_data1 = []

skip1 = 0

resource_url1 = "https://datamall2.mytransport.sg/ltaodataservice/BusStops"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url1}?$skip={skip1}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data1.extend(data)
    skip1 += 500

# Convert the collected data to a DataFrame
df1 = pd.json_normalize(all_data1)

# Save the DataFrame to a CSV file
df1.to_csv('data/bus_stops.csv', index=False)

In [ ]:
# Query the LTA DataMall API for the passenger volume by bus stop
all_data2 = []

skip2 = 0

resource_url2 = "https://datamall2.mytransport.sg/ltaodataservice/PV/Bus"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url2}?$skip={skip2}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data2.extend(data)
    skip2 += 500

# Convert the collected data to a DataFrame
df2 = pd.json_normalize(all_data2)

# Save the DataFrame to a CSV file
df2.to_csv('data/passenger_vol_bus_stops.csv', index=False)

# Note that for this API Call, the output is a hyperlink where you will need to download the files manually (File Name: transport_node_bus_202408.csv)

In [ ]:
# Query the LTA DataMall API for the passenger volume by origin-destination bus stop
all_data3 = []

skip3 = 0

resource_url3 = "https://datamall2.mytransport.sg/ltaodataservice/PV/ODBus"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url3}?$skip={skip3}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data3.extend(data)
    skip3 += 500

# Convert the collected data to a DataFrame
df3 = pd.json_normalize(all_data3)

# Save the DataFrame to a CSV file
df3.to_csv('data/passenger_vol_OD_bus_stops.csv', index=False)

# Note that for this API Call, the output is a hyperlink where you will need to download the files manually (File Name: origin_destination_bus_202408)

In [ ]:
# Query the LTA DataMall API for the passenger volume by train station
all_data4 = []

skip4 = 0

resource_url4 = "https://datamall2.mytransport.sg/ltaodataservice/PV/Train"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url4}?$skip={skip4}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data4.extend(data)
    skip4 += 500

# Convert the collected data to a DataFrame
df4 = pd.json_normalize(all_data4)

# Save the DataFrame to a CSV file
df4.to_csv('data/passenger_vol_train.csv', index=False)

# Note that for this API Call, the output is a hyperlink where you will need to download the files manually (File Name: transport_node_train_202408.csv)

In [ ]:
# Query the LTA DataMall API for the passenger volume by origin-destination MRT Station
all_data5 = []

skip5 = 0

resource_url5 = "https://datamall2.mytransport.sg/ltaodataservice/PV/ODTrain"
headers = {
    'AccountKey': os.getenv("LTA_Key"),
    'accept': "application/json"
}

# API only allows 500 records to be retrieved at a time, hence a while loop is used to retrieve all records
while True:
    url = f"{resource_url5}?$skip={skip5}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        break
    
    res_list = response.json()
    data = res_list.get('value', [])
    
    if not data:
        break
    
    all_data5.extend(data)
    skip5 += 500

# Convert the collected data to a DataFrame
df5 = pd.json_normalize(all_data5)

# Save the DataFrame to a CSV file
df5.to_csv('data/passenger_vol_OD_MRT_stations.csv', index=False)

# Note that for this API Call, the output is a hyperlink where you will need to download the files manually (File Name: origin_destination_train_202408.csv)

### Below is our code to read in the datasets obtained from above

In [ ]:
bus_stops = pd.read_csv('data/bus_stops.csv') # All Bus Stops in Singapore Long and Lat data 
bus_routes = pd.read_csv('data/bus_routes.csv') # Bus routes for each bus service (Can be merged with bus_stops data)

passenger_vol_bus_stops = pd.read_csv('data/transport_node_bus_202408.csv') # Passenger volume for each bus stop
passenger_vol_OD_bus_stops = pd.read_csv('data/origin_destination_bus_202408.csv') # Passenger volume for each origin-destination bus stop

passenger_vol_train = pd.read_csv('data/transport_node_train_202408.csv') # Passenger volume for each train station
passenger_vol_OD_MRT_stations = pd.read_csv('data/origin_destination_train_202408.csv') # Passenger volume for each origin-destination train station

train_station_code = pd.read_excel('data/Train Station Codes and Chinese Names.xls') # Train station code for each train station

EmptyDataError: No columns to parse from file

In [ ]:
bus_stops

NameError: name 'bus_stops' is not defined

In [ ]:
bus_routes

,ServiceNo,Operator,Direction,StopSequence,BusStopCode,Distance,WD_FirstBus,WD_LastBus,SAT_FirstBus,SAT_LastBus,SUN_FirstBus,SUN_LastBus
0,10,SBST,1,1,75009,0.0,0500,2300,0500,2300,0500,2300
1,10,SBST,1,2,76059,0.6,0502,2302,0502,2302,0502,2302
2,10,SBST,1,3,76069,1.1,0504,2304,0504,2304,0503,2304
3,10,SBST,1,4,96289,2.3,0508,2308,0508,2309,0507,2308
4,10,SBST,1,5,96109,2.7,0509,2310,0509,2311,0508,2309
...,...,...,...,...,...,...,...,...,...,...,...,...
25495,9B,SBST,1,25,95091,9.5,0741,0817,-,-,-,-
25496,9B,SBST,1,26,95131,9.7,0742,0818,-,-,-,-
25497,9B,SBST,1,27,95141,10.2,0744,0820,-,-,-,-
25498,9B,SBST,1,28,95061,10.6,0745,0821,-,-,-,-
25499,9B,SBST,1,29,95051,11.0,0747,0823,-,-,-,-

In [ ]:
passenger_vol_bus_stops

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-08,WEEKENDS/HOLIDAY,18.0,BUS,68099,84,145
1,2024-08,WEEKDAY,18.0,BUS,63281,1943,2183
2,2024-08,WEEKENDS/HOLIDAY,14.0,BUS,11071,564,535
3,2024-08,WEEKENDS/HOLIDAY,10.0,BUS,50249,286,237
4,2024-08,WEEKENDS/HOLIDAY,15.0,BUS,67389,282,956
...,...,...,...,...,...,...,...
199795,2024-08,WEEKDAY,8.0,BUS,91071,46,144
199796,2024-08,WEEKDAY,17.0,BUS,43139,152,194
199797,2024-08,WEEKENDS/HOLIDAY,7.0,BUS,84709,214,203
199798,2024-08,WEEKENDS/HOLIDAY,17.0,BUS,46301,89,121
199799,2024-08,WEEKENDS/HOLIDAY,6.0,BUS,99031,7,191

In [ ]:
passenger_vol_OD_bus_stops

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2024-08,WEEKENDS/HOLIDAY,18,BUS,76201,76079,6
1,2024-08,WEEKENDS/HOLIDAY,7,BUS,10351,13201,7
2,2024-08,WEEKENDS/HOLIDAY,19,BUS,76061,75371,1
3,2024-08,WEEKENDS/HOLIDAY,9,BUS,14271,7021,2
4,2024-08,WEEKDAY,5,BUS,54581,66471,1
...,...,...,...,...,...,...,...
5760076,2024-08,WEEKENDS/HOLIDAY,20,BUS,60069,46009,13
5760077,2024-08,WEEKDAY,8,BUS,76141,75311,58
5760078,2024-08,WEEKDAY,10,BUS,11369,28221,1
5760079,2024-08,WEEKDAY,18,BUS,75419,66381,1
5760080,2024-08,WEEKDAY,12,BUS,43449,43419,507

In [ ]:
passenger_vol_train

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-08,WEEKDAY,11,TRAIN,CC16,8500,4141
1,2024-08,WEEKENDS/HOLIDAY,17,TRAIN,EW26,19685,21363
2,2024-08,WEEKENDS/HOLIDAY,21,TRAIN,CC14,1074,3060
3,2024-08,WEEKENDS/HOLIDAY,20,TRAIN,TE23,1935,1733
4,2024-08,WEEKENDS/HOLIDAY,18,TRAIN,NE13,13540,15307
...,...,...,...,...,...,...,...
7175,2024-08,WEEKDAY,19,TRAIN,BP13,911,2735
7176,2024-08,WEEKENDS/HOLIDAY,15,TRAIN,EW9,13007,12454
7177,2024-08,WEEKENDS/HOLIDAY,9,TRAIN,BP9,1815,1000
7178,2024-08,WEEKENDS/HOLIDAY,23,TRAIN,CC27,160,104
7179,2024-08,WEEKENDS/HOLIDAY,5,TRAIN,DT3,258,9

In [ ]:
passenger_vol_OD_MRT_stations

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2024-08,WEEKENDS/HOLIDAY,14,TRAIN,NS17/CC15,NE1/CC29,244
1,2024-08,WEEKDAY,16,TRAIN,TE22,TE19,94
2,2024-08,WEEKDAY,15,TRAIN,CC20,SE2,4
3,2024-08,WEEKDAY,9,TRAIN,DT5,CC23,627
4,2024-08,WEEKDAY,16,TRAIN,DT17,CC24,33
...,...,...,...,...,...,...,...
873005,2024-08,WEEKDAY,6,TRAIN,CC4/DT15,NE12/CC13,25
873006,2024-08,WEEKENDS/HOLIDAY,14,TRAIN,DT17,SW5,2
873007,2024-08,WEEKENDS/HOLIDAY,14,TRAIN,EW19,DT21,2
873008,2024-08,WEEKENDS/HOLIDAY,13,TRAIN,EW8/CC9,NS14,203
873009,2024-08,WEEKENDS/HOLIDAY,22,TRAIN,EW17,TE15,4

In [ ]:
train_station_code

,stn_code,mrt_station_english,mrt_station_chinese,mrt_line_english,mrt_line_chinese
0,NS1,Jurong East,裕廊东,North-South Line,南北线
1,NS2,Bukit Batok,武吉巴督,North-South Line,南北线
2,NS3,Bukit Gombak,武吉甘柏,North-South Line,南北线
3,NS4,Choa Chu Kang,蔡厝港,North-South Line,南北线
4,NS5,Yew Tee,油池,North-South Line,南北线
...,...,...,...,...,...
206,TE25,Tanjong Katong,丹戎加东,Thomson-East Coast Line,汤申-东海岸线
207,TE26,Marine Parade,马林百列,Thomson-East Coast Line,汤申-东海岸线
208,TE27,Marine Terrace,马林台,Thomson-East Coast Line,汤申-东海岸线
209,TE28,Siglap,实乞纳,Thomson-East Coast Line,汤申-东海岸线
210,TE29,Bayshore,碧湾,Thomson-East Coast Line,汤申-东海岸线

### Below is obtaining the latitude and longitude of the MRT stations

In [3]:
import requests
import json
import os
import pandas as pd
import time 

def geo_code_mrt_station(station_name):
    # Default values set to Raffles Place MRT Station
    lat = 1.283383
    lon = 103.851622
    x = 28952.1377
    y = 31129.6127
    postal = "048617"
    street = "Raffles Place MRT Station"

    try:
        # Set the search query to focus on MRT stations
        station_encoded = station_name.replace(" ", "%20")
        base_url = "https://www.onemap.gov.sg/api/common/elastic/search?searchVal="
        endpoint = "&returnGeom=Y&getAddrDetails=Y"
        resource_url = f"{base_url}{station_encoded}{endpoint}"
        
        headers = {
            "Authorization": f"Bearer {os.getenv('/api/common/elastic/search')}",
            "Accept": "application/json"
        }
        
        # Request the API for the station data
        response = requests.get(resource_url, headers=headers)
        res_list = json.loads(response.text)
        
        # Handle results
        if 'results' in res_list and len(res_list['results']) > 0:
            df = res_list['results'][0]
            lat = float(df["LATITUDE"])
            lon = float(df["LONGITUDE"])
            x = float(df["X"])
            y = float(df["Y"])
            postal = df["POSTAL"]
            street = df["SEARCHVAL"]
        else:
            print(f"No data found for MRT station: {station_name}")
        
    except Exception as e:
        print(f"Error occurred: {str(e)}")
        # Fallback to default values: Raffles Place MRT Station
        lat = 1.283383
        lon = 103.851622
        x = 28952.1377
        y = 31129.6127
        postal = "048617"
        street = "Raffles Place MRT Station"
    
    return {
        'station_name': station_name,
        'latitude': lat,
        'longitude': lon,
        'postal': postal,
        'x': x,
        'y': y,
        'street': street
    }

# Load the MRT station data from the provided file
df_stations = pd.read_excel('data/Train Station Codes and Chinese Names.xls')

# Extract station names from 'mrt_station_english' column
stations = df_stations['mrt_station_english'].tolist()

# List to hold results
results = []

# Loop through the station names and retrieve their latitude and longitude
for station in stations:
    result = geo_code_mrt_station(station)
    results.append(result)
    time.sleep(0.5)  # Adding a slight delay between requests to avoid API limits

# Convert the results to DataFrame
df_geo_results = pd.DataFrame(results)

# Save the DataFrame to a CSV file
df_geo_results.to_csv('data/mrt_stations_with_geo_data.csv', index=False)

print(f"Data saved to {csv_output_path}")

Data saved to data/mrt_stations_with_geo_data.csv

In [4]:
df_geo_results

,station_name,latitude,longitude,postal,x,y,street
0,Jurong East,1.331864,103.740927,608513,17717.794105,34896.479188,JURONG EAST BUS INTERCHANGE
1,Bukit Batok,1.349719,103.750969,650631,18835.371845,36870.793752,BUKIT BATOK BUS INTERCHANGE
2,Bukit Gombak,1.367755,103.757472,667988,19559.140114,38865.049165,BUKIT GOMBAK CAMP
3,Choa Chu Kang,1.385393,103.744067,689811,18067.426940,40815.409193,CHOA CHU KANG BUS INTERCHANGE
4,Yew Tee,1.397194,103.745923,NIL,18274.010378,42120.341121,HEART OF YEW TEE
...,...,...,...,...,...,...,...
206,Tanjong Katong,1.307455,103.895635,437052,34935.235192,32197.384740,CALTEX TANJONG KATONG
207,Marine Parade,1.302612,103.904983,449971,35975.610748,31661.807992,MARINE PARADE MRT STATION (TE26)
208,Marine Terrace,1.304042,103.915576,440013,37154.447346,31819.971707,MARINE TERRACE BREEZE
209,Siglap,1.312604,103.923186,455871,38001.346802,32766.804119,SIGLAP CENTRE
210,Bayshore,1.313122,103.942310,469958,40129.687053,32824.194456,BAYSHORE MRT STATION (TE29)